@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Open+Sans:wght@300;400;700&family=Oswald&family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: "Manege Demo";
  src: url("ManegeDemo-Light.eot");
  src: local("Manege Demo Light"), local("ManegeDemo-Light"),
    url("../fonts/ManegeDemo-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ManegeDemo-Light.woff2") format("woff2"),
    url("../fonts/ManegeDemo-Light.woff") format("woff"),
    url("../fonts/ManegeDemo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/*font-family: 'Alumni Sans Collegiate One', sans-serif;
font-family: 'Open Sans', sans-serif;*/
