.order {
}
.kalik {
  display: none !important;
}
.order-header {
  padding: 50px 0;
  font-weight: 700;
  text-align: center;
  background: #686ce1;
  font-size: 32px;
  color: #fff;
}

.order-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-order {
  display: flex;
  flex-direction: column;
  span {
    font-size: 21px;
    font-weight: 700;
  }
  &:nth-child(3) {
    padding: 0 0 0 157px;
  }
  // .card-order__container

  &__container {
    display: flex;
    align-items: center;
    span {
      text-align: center;
    }
    img {
      width: 86px;
      padding: 0 20px 0 0;
    }
    height: 100px;
  }
}
.card-main-kalik {
}
